<h2>{{vm.title}}</h2>


<form ng-submit="vm.addItem()">
    <label translate="feature1.form.item.label">Add Item</label>
    <input type="text" name="item" ng-model="vm.item">
    <button name="btnAdd" type="submit" translate="feature1.form.btnAdd">Add</button>
</form>

<ul ng-repeat="feature in vm.features track by $index">
    <li>{{feature}}</li>
</ul>

<button type="button" ng-click="vm.changeLanguage('en')">English</button>
<button type="button" ng-click="vm.changeLanguage('it')">Italian</button>

